<h1>Submission {{submission.id}} for {{submission.workflow.name}}</h1>

<div class='col-md-12'><div class='landbox'>
    <h3>Information</h3>
    <div>{{submission.description}}</div>

</div></div>

<div class='col-md-12'><div class='landbox'>
    <h3>Assignments</h3>
    <div>Nothing tasks have been assigned yet.</div>

</div></div>

<div class='col-md-12'><div class='landbox'>
    <h3>Log Events</h3>
    <div>
        No events have been logged yet.
    </div>
</div></div>

