<h1>Assignments Inbox</h1>

{{#each assignments as |assignment|}}
    <div class='col-md-12'><div class='seabox' style="overflow:hidden">
        <h3>{{assignment.task.name}}</h3>
        <div>{{assignment.task.description}}</div>
        {{component assignment.task.view assignment=assignment}}
    </div></div>
{{/each}}

<div class='col-md-12'><div class='landbox'>
    {{#link-to "assignments.create"}}
        <button>Assign a Task</button>
    {{/link-to}}
</div></div>
