
<h1>OSF Workflows</h1>
<div class='col-md-7'><div class='landbox'>
    The OSF Workflows Engine provides tools for submission moderation, and other custom workflows. Get started with existing workflows, or create your own using a variety of ready to use tasks and role types, or build your own custom types with OSF Workflow's tools, to meet your preprint server, meetings, or research workflow needs.
</div></div>
<div class='col-md-5'><div class='seabox'>
    {{#link-to "inbox.index"}}
        <button>Inbox</button>
    {{/link-to}}
    <br>
    {{#link-to "workflows.index"}}
        <button>Workflows</button>
    {{/link-to}}
</div></div>

{{outlet}}
