<div>
</div>
<button style='float: right;' {{action "acceptInvite" resourceIdentifier}}>Accept</button>
<button style='float: right; margin-right: 15px' {{action "declineInvite" resourceIdentifier}}>Decline</button>
{{yield}}
