<h1>Workflows</h1>

{{#each workflows as |workflow|}}
    <div class='col-md-12'><div class='seabox'>
        <h3>{{workflow.name}}</h3>
        <div>{{workflow.description}}</div>
        <button {{action "beginWorkflow" workflow}}>Begin This Workflow</button>
        {{#link-to "workflows.workflow.graph" workflow.id}}
            <button>View Workflow Graph</button>
        {{/link-to}}
    </div></div>
{{/each}}

<div class='col-md-12'><div class='landbox'>
    {{#link-to "workflows.index"}}
        <button>Create Workflow</button>
    {{/link-to}}
</div></div>
